*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background: yellow;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}